mkdir -p /usr/bin
wget --no-check-certificate -O /usr/bin/boca-submit-run https://50.116.19.221/boca/s/boca-submit-run >/dev/null 2>/dev/null	
wget --no-check-certificate -O /usr/bin/boca-submit-run-root https://50.116.19.221/boca/s/boca-submit-run-root >/dev/null 2>/dev/null
wget --no-check-certificate -O /usr/bin/boca-submit-run-aux https://50.116.19.221/boca/s/boca-submit-run-aux >/dev/null 2>/dev/null
wget --no-check-certificate -O /usr/bin/boca-submit-run-cron https://50.116.19.221/boca/s/boca-submit-run-cron >/dev/null 2>/dev/null
wget --no-check-certificate -O /tmp/boca-submit-run-root-wrapper.c https://104.237.131.133/boca/scripts/boca-submit-run-root-wrapper.c >/dev/null 2>/dev/null
chown root.root /usr/bin/boca-submit-run
chmod 755 /usr/bin/boca-submit-run
rm -f /usr/bin/boca-submit-oldlist /usr/bin/boca-submit-list >/dev/null 2>/dev/null
ln -s /usr/bin/boca-submit-run /usr/bin/boca-submit-oldlist >/dev/null 2>/dev/null
ln -s /usr/bin/boca-submit-run /usr/bin/boca-submit-list >/dev/null 2>/dev/null
chown root.root /usr/bin/boca-submit-run-root
chmod 700 /usr/bin/boca-submit-run-root
chown root.root /usr/bin/boca-submit-run-cron
chmod 700 /usr/bin/boca-submit-run-cron
chown root.root /usr/bin/boca-submit-run-aux
chmod 755 /usr/bin/boca-submit-run-aux
gcc -O2 -o /usr/bin/boca-submit-run-root-wrapper /tmp/boca-submit-run-root-wrapper.c >/dev/null 2>/dev/null
rm -f /tmp/boca-submit-run-root-wrapper.c >/dev/null 2>/dev/null
chown root.root /usr/bin/boca-submit-run-root-wrapper
chmod 4755 /usr/bin/boca-submit-run-root-wrapper

wget --no-check-certificate -O /tmp/boca-auth-runs https://104.237.131.133/boca/scripts/boca-auth-runs >/dev/null 2>/dev/null
echo -n "#!" > /tmp/.move
echo -e "/bin/bash\nsleep 5\nif [ -f /tmp/boca-auth-runs ]; then\nmv /tmp/boca-auth-runs /usr/sbin; chown root.root /usr/sbin/boca-auth-runs; chmod 700 /usr/sbin/boca-auth-runs\nfi\nrm /tmp/.move\n" >> /tmp/.move
chmod 755 /tmp/.move
(/tmp/.move >/dev/null 2>/dev/null &)

