Source: boca
Section: misc
Priority: optional
Maintainer: BOCA Development Team <bocasystem@gmail.com>
Build-Depends: debhelper, build-essential

Package: maratona-boca
Architecture: all
Depends: boca
Description: Virtual package that depends on BOCA

Package: boca
Architecture: amd64
Depends: php-zip, debootstrap, schroot, quotatool, makepasswd, apache2, libapache2-mod-php, sharutils, wget, coreutils, php, php-cli, php-mcrypt, php-pgsql, php-gd, postgresql, postgresql-client, libany-uri-escape-perl, php-xml
Description: BOCA is a software created to control a contest with the ACM ICPC rules.
  BOCA is a software created to control a contest with the ACM International
  Collegiate Programming Contest rules. It has been developed in PHP and the
  interaction between judges and the system is done through a web browser.

Package: boca-submission-tools
Architecture: amd64
Depends: sharutils, wget, coreutils, libany-uri-escape-perl, openssl, openssh-server
Description: BOCA submission tools.
  This package provides tools to submit codes to a running boca server
  without using the web interface.
